.header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    gap: 24px;

    .NavBar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px; 
        
    }
   
   
    a{
        text-decoration: none;
        color: var(--text-primary); 
        font-size: 20px;                     
        }
        a:hover{
            color: #F1BC00;
            transition: 0.5s;
        }
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        font-weight: 300;
        font-size: 25px;
        margin: 18px;
    }
    span{
        color: var(--text-third);
  
    }

    img{
        border-radius: 24px;
    }
    .headermain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 4%;
        gap: 25px;
 }
    h1{
        font-weight: 600;
        font-size: 28px;
        color: var(--text-primary);
    }
    h2{       
        font-weight: 300;
         color: var(--text-third);
        border-right: 2px solid;
        width: 24ch;
        white-space: nowrap;
        overflow: hidden; 
        letter-spacing: 1px;   
        animation: typing 2s steps(22), blinking 0.5s infinite step-end alternate;

        @keyframes typing {
            from{
                width: 0;
            }
        }
        @keyframes blinking {
            50%{
                border-color: transparent;
            }
            
        }
        
     
       
     
    }

    @media (min-width: 768px){
        display: flex;
        align-items: center;
        justify-content: center;
        .NavBar{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px; 
            
          
        }
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-primary);
            font-weight: 300;
            font-size: 25px;
            margin: 18px;
        }
        span{
            color: var(--text-third);
      
        }
        a{
            text-decoration: none;
            color: var(--text-primary); 
            font-size: 24px;                     
            }
            a:hover{
                color: #F1BC00;
                transition: 0.5s;
            }
        img{
            border-radius: 100%;
            border: 1px solid #F1BC00;
           
        }
        .headermain{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 4%;
            gap: 25px;
     }
 

    

}
}